{#--
HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME
/templates/index.twig
niceworld 4.1.22
--#}

{% extends "_layouts/site" %}

{% set title = "AFBF Maps Project" %}
{% set description = "" %}
{% set og_img = siteUrl ~"" %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block main %}
<p>American Farm Bureau Federation Maps Server</p>

{% endblock %}{#-- /main --#}

{% block foot %}
{{ parent() }}
{% endblock %} {#-- /foot --#}
