<h1>Help / Notes</h1>
<p>If you get stuck, reach out to Nice World Industries, that's me (Pete Nice)<br>
<a href="mailto:peter@petenice.com">peter@petenice.com</a> | 206-391-4418</p>
<hr>

{{entry.body}}
