
<div class="yellow-wrapper">
<div class="section-bg-left green" style="z-index:10;">
<?xml version="1.0" encoding="UTF-8"?><svg viewBox="0 0 271 290" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="section-title-bg-color" transform="translate(0.000000, -1052.000000)" fill="#E76828"><polygon id="Path-2" points="-92 1200 -89.8373318 1438 270.5 1052 44.5 1052"></polygon></g></g></svg>
</div>
<div class="section-bg-left-mobile green" style="z-index:10;">
<?xml version="1.0" encoding="UTF-8"?><svg viewBox="0 0 529 116" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="section-title-bg-color" transform="translate(244.180442, 35.882624) rotate(47.000000) translate(-244.180442, -35.882624) " points="136.560242 268.03246 52.744361 189.925571 412.874958 -196.267212 435.616523 -52.6661379"></polygon></g></svg>
</div>

<div class="section-title" style="z-index:20;"><h2>Join Us</h2></div>
<div class="section-title-buffer w-full h-60px sm:h-100px block"></div>

<div class="facse-width-wrapper flex flex-row build-border-red">

  <div class="w-0 sm:w-2/12 build-border-red"></div>
  <div class="w-12/12 sm:w-8/12 build-border-red text-left mb-5">

  <h2 class="font-nan-bold text-4xl text-charcoal mb-4">Seeking Your Participation</h2>
  <p class="font-light text-base leading-snug mb-10">
       Connecting with The Center is easy and your timing is perfect. The Center has been producing events and developing curriculum 
       for the "On The Farm STEM" program, and over the next several years our roadmap calls for events, classroom resources, 
       professional development, science education programs, partnerships, and the opportunity to connect with experts in the field.
      The Center also offers a connection point by which to find expertise. Our hope is that teachers and scientists can find one another here, 
      and work together to achieve common goals. Right now is an excellent time to get involved.<br><br>
 
     <i>How can you get started?</i>
  </p>
  <p class="font-nan-bold text-lg leading-snug text-charcoal mb-4">
      &bullet; 	Access <a href="{{siteUrl}}materials" class="text-orange-dark">downloadable materials</a>
  </p>  
  <p class="font-nan-bold text-lg leading-snug text-charcoal mb-4">
      &bullet;  <a href="{{siteUrl}}connect" class="text-orange-dark">Register</a> for professional development opportunities<br>
  </p>  
  <p class="font-nan-bold text-lg leading-snug text-charcoal mb-4">
	    &bullet; 	<a href="{{siteUrl}}connect" class="text-orange-dark">Join</a> the community<br>
  </p>
   </div><!-- /w -->
</div><!-- /width wrapper -->
</div><!-- /yellow wrapper -->