<div class="materials-box">
<div class="box-notched sage"></div>
<div class="box-sub sage p-4 pt-0">
  <div class="flex flex-row">
    <div class="w-1/3 pr-4 pt-2">
      <img src="{{siteUrl}}assets/imgz/img-hex-supercow.png">
    </div>
    <div class="w-2/3">
      <div class="text-lg font-bold text-green-dark"> Toolkit</div> 
      <h2 class="text-xl font-nan-bold text-charcoal leading-snug mb-2">Adipiscing Risus Ligula Purus Porta Ornare Purus Tortor Adipiscing Pharetra Nibh Risus</h2>
    </div>
  </div><!-- /flex-row -->
  <div class="w-full">
  <p class="text-md leading-snug text-charcoal">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod</p>
  <a href="#" class="text-green-dark hover:text-orange-dark">tagiz,</a>
  <a href="#" class="text-green-dark hover:text-orange-dark">tagiz,</a>
  <a href="#" class="text-green-dark hover:text-orange-dark">tagiz,</a>
  <p>
  <a href="" class="f-btn btn-orange inline-block">View&nbsp;&nbsp;<img src="{{siteUrl}}/assets/imgz/icon-hex-white.svg" class="inline-block ml-2"></a>
  <a href="" class="f-btn btn-orange inline-block">Google Doc&nbsp;&nbsp;<img src="{{siteUrl}}/assets/imgz/icon-google-doc.svg" class="inline-block ml-2 h-20px w-20px"></a>

  </p>
  </div>
</div><!-- /box-sub -->
</div><!-- /materials-box -->