<div id="materials-sidebar">
  <div class="sidebar-nav">

    Search by Keyword <br>
    <a href="#" class="nav all">All Materials</a>
    <a href="#" class="nav fu">Full Units</a>
    <a href="#" class="nav tk">Toolkits</a>
    <a href="#" class="nav tl">Task Library</a>
    <a href="#" class="nav other">Other Resources</a>
  </div>
  <div class="sidebar-gl">
    <p>Grade Levels</p>
    <a href="#" class="gl">K</a>
    <a href="#" class="gl">1</a>
    <a href="#" class="gl">2</a>
    <a href="#" class="gl">3</a>
    <a href="#" class="gl">4</a>
    <a href="#" class="gl">5</a>
    <a href="#" class="gl">6</a>
    <a href="#" class="gl">7</a>
    <a href="#" class="gl">8</a>
    <a href="#" class="gl">9</a>
    <a href="#" class="gl">10</a>
    <a href="#" class="gl">11</a>
    <a href="#" class="gl">12</a>
  </div>
  <div class="sidebar-tags">
    <p>Tags</p>
    <a href="#" class="tag"><img src="{{siteUrl}}assets/imgz/icon-tag.svg">tag here,</a>
    <a href="#" class="tag"><img src="{{siteUrl}}assets/imgz/icon-tag.svg">tag here,</a>
    <a href="#" class="tag"><img src="{{siteUrl}}assets/imgz/icon-tag.svg">tag here,</a>
    <a href="#" class="tag"><img src="{{siteUrl}}assets/imgz/icon-tag.svg">tag here,</a>
  </div>
</div><!-- /materials-sidebar -->