{% include "_partials/_section-name.twig" with {'color': 'orange'} %}
<div class="section-title"><h2>Subscribe</h2></div>
<div class="section-title-buffer w-full h-40px sm:h-100px block"></div>

<div id="subscribe">
<div class="facse-width-wrapper build-border-red">
<div class="flex flex-col md:flex-row justify-center">

  <div class="w-12/12 sm:w-8/12  m-auto md:mx-4 mb-10 md:mb-10 mt-0">
  <h2 class="font-nan-bold text-4xl text-charcoal mb-4">Stay Connected</h2>
  <p class="font-light text-base leading-snug mb-2">Join us online to receive occasional communications from The Center. Unsubscribe anytime, your information will not be shared.</p>

<!-- Begin Constant Contact Inline Form Code -->
<div class="ctct-inline-form" data-form-id="62534c1d-a359-4234-8b0d-25416628f3a4"></div>
<!-- End Constant Contact Inline Form Code -->

  </div><!-- /w -->

</div><!-- / flex -->
</div><!-- / width -->
</div><!-- / subscribe -->
